<!DOCTYPE html>
<html>
<head>
  <title>Patients</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<div>
  <ul id="slide-out" class="side-nav fixed">
    <li>
      <div class="userView">
        <img class="background" src="<%= image_path('slider-background.jpg') %>">
        <a href="#!user"><img class="circle" src="<%= image_path('avatar.jpeg') %>"></a>
        <a href="#!name"><span class="white-text name">李怀奇</span></a>
        <a href="mailto:never.be.evil.debian@gmail.com"><span class="white-text email">never.be.evil.debian@gmail.com</span></a>
      </div>
    </li>
    <li><p style="line-height: 2;font-size: 13px;padding: 10px;text-align: center;">
      Hi,Larry!<br>
      这是我的Patient，使用RubyOnRails 5.0。<br>
      UI上使用materialize，大爱Material Design。<br>
      使用大量 turbolinks 来实现单页应用效果。<br>
      gem上使用simple_form来加强表单<br>
      和paranoia实现Patient软删除。<br>
      数据库使用SQLite3。<br>
      测试引擎使用Rspec + capybara。<br>
      单元测试和集成测试均有覆盖。</p></li>
  </ul>

  <nav class="header">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Patient</a>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <div id="global-modal" class="modal"></div>

  <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="material-icons">language</i>
    </a>
    <ul>
      <li>
        <%= link_to "中", {controller: controller_name, action: action_name, locale: "zh-CN"}, {class: 'btn-floating red center-align'} %>
      </li>
      <li>
        <%= link_to "EN", {controller: controller_name, action: action_name, locale: "en"}, {class: 'btn-floating green center-align'} %>
      </li>
    </ul>
  </div>
  <div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $('.button-collapse').sideNav({
        menuWidth: 300, // Default is 240
        edge: 'left', // Choose the horizontal origin
        closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
      }
  );
</script>

</body>
</html>
